.root {
  @apply space-y-16;
}

.creditCardContainer {
  @apply w-80 md:w-96 h-56 m-auto rounded-xl relative text-white shadow-2xl transition-transform transform hover:scale-110;

  > img {
    @apply relative object-cover w-full h-full rounded-xl;

    filter: sepia(100%) brightness(40%);
  }

  > div:first-of-type {
    @apply w-full px-8 absolute top-8;

    > div:first-of-type {
      @apply flex justify-between;
    }
    input {
      @apply font-medium tracking-widest bg-transparent;
    }
  }
}

.flagStyle {
  @apply w-14 h-14;
}
