.root {
  @apply flex flex-col justify-center items-center mt-10;

  div:first-child {
    @apply text-center flex flex-col items-center justify-center px-10 h-36 border m-5;

    p:first-child {
      @apply text-3xl;
    }
    p:last-child {
      @apply text-5xl font-bold;
    }
  }

  h3 {
    @apply text-3xl mb-10;
  }
}
